<div class="row">

    <div class="col-md-2 col-sm-2 col-xs-4">
        <ul style="list-style: none">
            <li><img ng-click="changeSource(mobileDesc.image[0])" class="previewSmall img-thumbnail cursorPointer" src="{{mobileDesc.image[0]}}"></li>
            <li><img ng-click="changeSource(mobileDesc.image[1])" class="previewSmall img-thumbnail cursorPointer" src="{{mobileDesc.image[1]}}"></li>
            <li><img ng-click="changeSource(mobileDesc.image[2])" class="previewSmall img-thumbnail cursorPointer" src="{{mobileDesc.image[2]}}"></li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
        <img class="img-thumbnail" src="{{mainImage}}">
        <button class="btn btn-primary addCart" ng-click="cartRedirect(mobileDesc.id)">Add to Cart</button>
    </div>
    <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12 ">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="productDetailsName">{{mobileDesc.name}}</span>
                <h3>{{mobileDesc.price|currency:"₹"}}</h3>
            </div>
            <div class="panel-content" style="padding:10px">
                <p>{{mobileDesc.desc}}</p>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[0]}}</span></li>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[1]}}</span></li>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[2]}}</span></li>
                <h3>Technical Specifications</h3>
                <ul class="list-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            Screen : </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.screen}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            Processor : </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.processor}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            Operating System:</div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.os}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 productFeatures">
                            Battery :</div>
                        <div class="col-md-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.battery}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            Camera :
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.camera}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            RAM : </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.ram}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            ROM :
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.rom}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 col-sm-4 productFeatures">
                            Color :
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <li class="list-group-item specificationContent"><span>{{mobileDesc.features.color}}</span></li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4 col-sm-4 productFeatures">
                        Warranty :
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <li class="list-group-item specificationContent">{{mobileDesc.features.warranty}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row reviewsPadding">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Reviews</h4>
            </div>
            <div class="panel-content" style="padding:10px">
                <h5><b>{{mobileDesc.reviews[0].title}}</b></h5>
                <p>{{mobileDesc.reviews[0].comment}}</p>
                <hr/>
                <h5><b>{{mobileDesc.reviews[1].title}}</b></h5>
                <p>{{mobileDesc.reviews[1].comment}}</p>
                <hr/>
                <h5><b>{{mobileDesc.reviews[2].title}}</b></h5>
                <p>{{mobileDesc.reviews[2].comment}}</p>
            </div>
        </div>
    </div>
</div>


