<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-4">
        <ul style="list-style: none">
            <li><img ng-click="changeSource(sportsDesc.image[0])" class="previewSmall img-thumbnail cursorPointer sportsPreviewImage" src="{{sportsDesc.image[0]}}"></li>
            <li><img ng-click="changeSource(sportsDesc.image[1])" class="previewSmall img-thumbnail cursorPointer sportsPreviewImage" src="{{sportsDesc.image[1]}}"></li>
            <li><img ng-click="changeSource(sportsDesc.image[2])" class="previewSmall img-thumbnail cursorPointer sportsPreviewImage" src="{{sportsDesc.image[2]}}"></li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-sm-offset-2">
        <img class="img-thumbnail sportsMainImage" src="{{mainImage}}"><br>
         <button class="btn btn-primary addCartSports" ng-click="cartRedirect(sportsDesc.id)">Add to Cart</button>
    </div>
    <div class="col-md-6 col-sm-12 col-md-offset-2 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="productDetailsName">{{sportsDesc.name}}</span>
                <h3>{{sportsDesc.price|currency:"₹"}}</h3>
            </div>
            <!-- <div class="panel-content" style="padding:10px">
                <p>{{sportsDesc.desc}}</p>
                <h3>Features</h3>
                <ul class="list-group">
                    <li class="list-group-item">Material : <span class="badge">{{sportsDesc.features.material}}</span></li>
                    <li class="list-group-item">Color : <span class="badge">{{sportsDesc.features.color}}</span></li>
                    <li class="list-group-item">Weight : <span class="badge">{{sportsDesc.features.weight}}</span></li>
                    
                    
                </ul>
            </div> -->
<!-- ======================================-->

<div class="panel-content" style="padding:10px">
                <p>{{sportsDesc.desc}}</p>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[0]}}</span></li>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[1]}}</span></li>
                <li class="list-group-item offersList"><i class="glyphicon glyphicon-tag text-success"></i>  <span>{{products.offers[2]}}</span></li>
                <h3>Features</h3>
                <ul class="list-group">
                    <div class="row">
                        <div class="col-md-4 productFeatures">
                            Material : </div>
                        <div class="col-md-8">
                            <li class="list-group-item specificationContent"><span>{{sportsDesc.features.material}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 productFeatures">
                            Color : </div>
                        <div class="col-md-8">
                            <li class="list-group-item specificationContent"><span>{{sportsDesc.features.color}}</span></li>
                        </div>
                    </div>
                    <div class="row rowPadding">
                        <div class="col-md-4 productFeatures">
                            Weight :</div>
                        <div class="col-md-8">
                            <li class="list-group-item specificationContent"><span>{{sportsDesc.features.weight}}</span></li>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </ul>
            </div>

    <!-- =================================-->        
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Reviews</h4>
            </div>
            <div class="panel-content" style="padding:10px">
            	<h5><b>{{sportsDesc.reviews[0].title}}</b></h5>
            	<p>{{sportsDesc.reviews[0].comment}}</p><hr/>
            	<h5><b>{{sportsDesc.reviews[1].title}}</b></h5>
            	<p>{{sportsDesc.reviews[1].comment}}</p><hr/>
            	<h5><b>{{sportsDesc.reviews[2].title}}</b></h5>
            	<p>{{sportsDesc.reviews[2].comment}}</p>
            </div>
           

        </div>
    </div>
</div>