.previewSmall{

	height:50%;
	width: 50%
}

.productDetailsName{

	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width:992px){

	.productDetailsName{

	font-size: 20px;
}
}

@media screen and (min-width:992px){
.reviewsPadding{

	position: relative;
	top:-250px
}
}

@media screen and (min-width:992px){

	.addCart{

		margin: 10px 45px;
	}
}

@media screen and (max-width:992px){

	.addCart{

		margin: 5px 0px 5px -4px;
	}
}

.rowPadding{

	padding-top:10px;
}

.specificationContent{

	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.productFeatures{

	padding-top: 10px;
	color: #31708f;
	font-weight: bold;
}

.offersList{

	border:none;
}


